{{ define "main" }}

{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

<section class="projects-section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-four-fifths is-centered-tablet-portrait">
                <h1 class="title section-title">{{ .Title }}</h1>
                <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
                <div class="divider"></div>
            </div>
            <div class="column">
                <div class="columns is-5">
                    <div class="column">
                        <button onclick="window.history.back();" class="button cta rounded primary-btn raised">Back</button>
                    </div>
                    {{ with .Params.Link }}
                        <div class="column">
                            <a class="button cta rounded primary-btn raised" href="{{ . }}" target="_blank">
                                Open
                            </a>
                        </div>
                    {{ end }}
                    {{ with .Params.Githublink }}
                        <div class="column" title="See it on Github">
                            <a href="{{ . }}" target="_blank">
                                <span class="icon is-large">
                                    {{ with resources.Get "icons/github.svg" }}
                                    {{ .Content | safeHTML }}
                                    {{ end }}
                                </span>
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="content">
            {{ .Content }}
        </div>
    </div>
</section>

{{ if .Params.include_footer }}
{{ partial "footer.html" . }}
{{ end }}

{{ end }}