{{ define "main" }}

{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-centered-tablet-portrait">
                <h1 class="title section-title">{{ .Title }}</h1>
                <div class="divider"></div>
            </div>
        </div>
    
        <div class="content">
            {{ .Content }}
        </div>
        <div class="columns">
            {{ range .Pages }}
            <div class="column">
                <a class="button cta rounded primary-btn raised" href="{{ .Permalink }}">
                  {{ .Title }}
                </a>
            </div>
            {{- end }}
        </div>
    </div>
</section>

{{ if .Params.include_footer }}
{{ partial "footer.html" . }}
{{ end }}

{{ end }}