/* ==========================================================================
Fresh Footer
========================================================================== */

footer.footer-dark {
    background: $white;
    color: $primary;
    .columns {
        margin-top: 35px;
    }
    .footer-logo {
        img {
            height: 128px;
        }
    }
    .footer-column {
        .footer-header h3 {
            font-weight:500;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        ul.link-list {
            line-height: 40px;
            font-size: 1.1rem;
            a {
                color: $title-grey;
                font-weight: 400;
                transition: all 0.5s;
            }
            :hover {
                color: $secondary;
            }
        }
        .level-item .icon {
            color: $secondary;
            font-size: 2em;
            transition: all 0.5s;
            svg {
                width: 2em; /* Adjust the width as needed */
                height: 2em; /* Adjust the height as needed */
          
                /* Additional styles for scaling */
                transform-origin: center center;
                transform: scale(1); /* Default scale */
          
                &:hover {
                  color: $lighter-secondary;
                  transform: scale(1.2); /* Increased scale on hover */
                }
              }
        }
    }
}