/* ==========================================================================
Section Styles
========================================================================== */

//Sections
.projects-section {
    @extend .section;
    
    .project-name {
        color: $primary;
        text-decoration: none; // Remove the default underline
        transition: color 0.3s, text-decoration 0.3s; // Add a transition for a smooth effect

        &:hover {
            color: $primary-lighter; // Change the color on hover
            text-decoration: underline; // Underline the text on hover
        }
    }

    .icon {
        @extend .icon;
        color: $primary;
        transition: all 0.5s;

        svg {
            /* Additional styles for scaling */
            transform-origin: center center;
            transform: scale(3);
            /* Default scale */

            &:hover {
                color: $primary-lighter;
                transform: scale(3.5);
                /* Increased scale on hover */
            }
        }
    }

    a {
        color: $primary;
        text-decoration: none;

        &:hover {
            color: $primary-lighter;
        }
    }
}